{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/css/styles.css' %}" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>




	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>Your Todo List <i class="fas fa-pencil-alt"></i>

</h2>

					<form action="{% url 'add_new' %}" method="POST" role="form">
					{% csrf_token %}
						<div class="form-group">
							<div class="input-group">

								{{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-success" id="add-btn">Do it <i class="fas fa-check-circle"></i>

								</button>
							  </span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">

									<button type="button" class="btn btn-danger btn-block">
										<i class="fas fa-trash-alt"></i><a href="{% url 'delete_completed' %}"> DELETE COMPLETED</a>
									</button>


									<button type="button" class="btn btn-danger btn-block">
										<i class="fas fa-trash-alt"></i><a href="{% url 'delete_all' %}"> Assignment</a>
									</button>

							</div>
						</div>
					</div>

					<ul class="list-group t20">
						{% for c in my_todo %}

							{% if c.complete == False %}
								<li class="list-group-item"><a href="{% url 'finish' c.id %}">{{ c.text }}</a></li>
							{% else %}
								<li class="list-group-item todo-completed">{{ c.text }}</li>
							{% endif %}

						{% endfor %}

					</ul>
				</div>
			</div>


		</div>

		<!-- jQuery -->
		<script src="{% static 'todo/js/jquery.min.js' %}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{% static 'todo/js/bootstrap.min.js' %}"></script>
	</body>
</html>
